  /* Fonts */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
  .account-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: white;
    margin: 0 0 20px 40px;
  }
  
  .account{
    overflow: hidden;
    background-color: white;
  }
  .account::-webkit-scrollbar {
    display: none;
  }
  .account-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    width: 600px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    position: relative;
  }
  
  .account-box__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(3, 3, 3, 0.2);
    width: 40%;
  }
  
  .account-box__section {
    margin-top: 3rem;
    text-align: left;
    width: 100%;
  }
  
  .account-box__section-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
  
  .orders-table th,
  .orders-table td {
    padding: 1rem;
    text-align: center;
    border: 1px solid #333;
  }
  
  .orders-table th {
    font-weight: 700;
    text-align: center;
  }
  
  .orders-table tbody tr:nth-child(even) {
    background-color: #3333334b;
  }
  
  .orders-table tbody tr:hover {
    background-color: #e6e6e6;
  }
  
  .orders-table tbody td:last-child {
    text-align: right;
  }
  .navbar.active{
  background-color: white;
  color: #333333;
}