.text-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.text-work h1{
    font-size: 6rem;
    margin-bottom: 50px;
}

.text-work h2{
    font-size: 2.5rem;
    opacity: 0.8;
    margin-bottom: 50px;
}

.text-work h3{
    font-size: 2.3rem;
    opacity: 0.6;
    margin-bottom: 50px;    
}

.text-work h4{
    font-size: 1.3rem;
    opacity: 0.4;
    margin-bottom: 50px;
}